div.wrapper {
 width: 768px;
}

header {
 height: 71px;
 width: 720px;
 margin-bottom: 10px;
}

a.logo {
 padding-top: 10px;
 width: 70px;
}

div.header-right-side {
 flex-wrap: nowrap;
 justify-content: flex-end;
}

div.hello {
 align-items: center;
}

div.hello h3 {
 padding-right: 40px;
 font-size: 17px;
}

div.social-mail-wrapper {
 width: 50%;
}

/* ASIDE + VIDEO */
.aside-video-wrapper {
 width: 100%;
}

.aside-info {
 display: block;
 position: relative;
 height: 397px;
 width: 25px;
}

.p-wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;
 top: 0;
 left: 0;
 height: 25px;
 width: 397px;
 text-align: center;
}

.p-wrapper-left {
 transform: rotate(90deg);
 transform-origin: 12.5px 12.5px;
}

.p-wrapper-right {
 transform: rotate(90deg);
 transform-origin: 12.5px 12.5px;
}

.aside-info p {
 /* position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 display: block; */
 text-align: center;
 /* transform: rotate(90deg); */
}

.p-wrapper-right p {
 transform: rotate(180deg);
}

div.video-wrapper {
 width: 720px;
}

/* ILUSTRATION & MOTION */
div.illustration-motion-wrapper {
 height: 61px;
 width: 718px;
}

.illustration-wrapper,
.motion-wrapper {
 width: 350px;
}

.illustration-wrapper h2,
.motion-wrapper h2 {
 font-size: 24px;
}

.description-wrapper {
 height: 128px;
 width: 718px;
 justify-content: flex-start;
}

.head.description {
 margin: 10px 10px 0 0;
 width: 85px;
}

p.description.xs,
p.description.s {
 display: none;
}

p.description.m {
 display: block;
 width: 630px;
}

/* FOOTER */

footer {
 font-size: 20px;
 font-weight: 500;
}

.mail-wrapper.down {
 width: 190px;
}

a.envelope.down img {
 width: 23px;
}

a.envelope.down {
 margin-right: 3px;
}